# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

# straight
/straight

# selectrum-prescient
/var

/transient

# lsp stuff
.cache
.lsp-session*

# bookmarks file
bookmarks

# org-roam database file (move this to under .cache?)
org-roam.db

# lsp-java and lsp-dap
.dap-breakpoints
eclipse.jdt.ls
projects
workspace

# emacs native lisp cache
eln-cache

# eww browser cache files
url
